@inherits LayoutComponentBase

<PageTitle>BlazorAppZealand</PageTitle>

<Toast />

<div class="min-h-screen bg-stone-100 flex">
  <div class="flex min-h-0 flex-1 flex-col bg-gray-800 max-w-[18rem] w-full">
    <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
      <div class="flex flex-shrink-0 items-center px-4">
          <div>
              <p class="text-xl font-light text-white">BoneXpert</p>
              <p class="text-xl font-light text-white">Client portal</p>
          </div>
      </div>
      <nav class="mt-5 flex-1 space-y-1 bg-gray-800 px-2" aria-label="Sidebar">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <NavLink href="#" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              <span class="flex-1">King (Sample)</span>
          </NavLink>
          <NavLink href="/admin/organization" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              <!--
        Heroicon name: outline/home

        Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300"
        -->
              <svg class="text-gray-300 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <span class="flex-1">Organization details</span>
          </NavLink>
          <NavLink href="/admin/contacts" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              <!--
        Heroicon name: outline/home

        Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300"
        -->
              <svg class="text-gray-300 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <span class="flex-1">Contacts</span>
          </NavLink>
          <NavLink href="#" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
              <!--
        Heroicon name: outline/home

        Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300"
        -->
              <svg class="text-gray-300 mr-3 flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <span class="flex-1">Sites</span>
          </NavLink>
      </nav>
    </div>
    <div class="flex flex-shrink-0 bg-gray-700 p-4">
      <a href="#" class="group block w-full flex-shrink-0">
        <div class="flex items-center">
          <div>
            <img class="inline-block h-9 w-9 rounded-full" src="https://avatars.githubusercontent.com/u/39481226?v=4" alt="">
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-white">Zdeněk Pašek</p>
            <p class="text-xs font-medium text-gray-300 group-hover:text-gray-200">View profile</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="p-10 w-full flex-1">
    @Body
  </div>
</div>

